<div class="panel {{clazz}}">
    <div class="panel-heading" ng-show="title != undefined && title != ''">{{title}}</div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <tr ng-repeat="item in data">
                <td class="media">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-2">
                            <a class="pull-left" ng-href="{{generateHref(item)}}">
                                <img class="img img-rounded img-responsive media-object" ng-src="{{item[mediaobject]}}"/>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-10">
                            <div class="media-body">
                                <strong class="media-heading">{{item[mediaheading]}}</strong>
                                <div class="media">
                                    <small>{{item[mediabody]}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <a class="btn btn-link center-block" ng-click="loadData();" ng-show="showMoreBtn">更多</a>
    </div>
</div>
